#Data Types and Structures Questions

1.What are data structures, and why are they important?
- Data structures are specialized formats for organising,storing and accessing the collection of data.They provide efficient ways to manage information based on its characteristics and intended uses.

Why are they important :-

- Choosing the right data structure significantely impacts the efficiency and performance of your program.
- Well choosen data structure can simplifying data manupulation (adding,removing,modifying elements) , optimize searching and sorting operation and conserve memory usage.

2.Explain the difference between mutable and immutable data types with examples?

 - Python data are categorized into two form

(1) Mutable data type  :- A mutabale data type is one whose value can be changed
Example :- list , set and dictionarise

(2) Immutable data type  :- Immutable data types is one whose value cannot be changed.
Example :- tuple and string

3.What are the main differences between lists and tuples in Python?
- Mutability :- List are mutable, meaning they can be modified but tuple are immutable meaning they cannot be modified.
- Memmory efficiency :- Tuples are more memory efficient than list.
- Syntax :- tuples uses round bracets or paranthesis () and list uses square brackets [].
- Speed :- tuples are faster than list when looking up for values.
- Error proneness :- list is more error prone than tuple operations
- Built in method :- list are more built in methods than tuple.
- use case :- List are better for adding, removing records frequently while tuple are better for representing fixed collection.

4.Describe how dictionaries store data?
- Dictionaries are used to store data value in key : value pairs and can be referred to by using key name. Dictionaries items are ordered , changable and not allow duplicate.

5.Why might you use a set instead of a list in Python?
- Set can be used to store unique values in order to avoid duplications of elements present in the set.
- Elements in a set are stored in a sorted fashion which makes it efficient.
- Set are dynamic, so there is no error of overflowing of the set.
- Sets provide fast and efficient operations for checking if an element is present in the set or not.

6.What is a string in Python, and how is it different from a list?
- Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7.How do tuples ensure data integrity in Python?

- Tuples in Python play a crucial role in ensuring data integrity due to their immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed. This characteristic provides several benefits:
- Data Consistency: Immutability guarantees that the data within a tuple remains constant throughout its lifecycle. This prevents accidental or intentional modifications that could compromise the integrity of the data.
- Security: Since tuples cannot be altered, they provide a level of security by protecting data from unauthorized changes. This is particularly important when dealing with sensitive information.
- Hashing and Indexing: Tuples can be used as keys in dictionaries because they are immutable and hashable. This allows for efficient data retrieval and indexing.
- Readability: The immutability of tuples can improve code readability by making it clear that certain data should not be modified. This can help prevent unexpected behavior and make code easier to maintain.
By utilizing tuples when appropriate, Python developers can enhance the reliability and security of their code and ensure that data remains accurate and consistent.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs in an array format, with each data value having a unique index value. The hash value of the key determines the correct bucket to store the data
- In Python, the Dictionary data type is the implementation of hash tables. The keys in a Python dictionary are hashable, meaning they are generated by a hash function that produces a unique result for each value

9.Can lists contain different data types in Python?
- list can also contain a mix of Python types including strings, floats, and booleans.

10.Explain why strings are immutable in python?
- strings are immutable because they cannot be changed after they are created.

11.What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer several advantages over lists for certain tasks, including:
- Quick lookups: Dictionaries are ideal for quick lookups, such as mapping usernames to user data.
-Easier to read: Dictionaries make code easier to read when generating key:value pairs.
-More flexible data storage: Dictionaries store data as key-value pairs, which offers more flexibility than lists.
-Faster lookup operations: Dictionaries are faster than lists for lookup operations.

12. Describe a scenario where using a tuple would be preferable over a list?
- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13.How do sets handle duplicate values in Python?
- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14.How does the “in” keyword work differently for lists and dictionaries?


The in keyword behaves differently when used with lists and dictionaries in Python:


Key Differences:
 - Lists: Check for the presence of a specific value within the list.
 - Dictionaries: Check for the presence of a specific key within the dictionary.

15.Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple because tuples are "immutable" in most programming languages, meaning once created, their elements cannot be changed, added, or removed; this is a key distinction between tuples and lists, which are mutable and allow for element modification

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a collection of dictionaries within a single dictionary, and is a powerful tool for organizing data with multiple layers. Here are some examples of use cases for nested dictionaries:
-
Employee records: Organize employees by department, with each employee's details in a nested dictionary.
-Inventory systems: Track product categories, subcategories, and individual product details

17.Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing an element in a Python dictionary is O(1) on average
- This means that the time it takes to retrieve an element from a dictionary is constant and doesn't depend on the size of the dictionary

18.In what situations are lists preferred over dictionaries?
- Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

- A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.?
-The key difference between lists and dictionaries in terms of data retrieval lies in how you access the elements within them:
- Lists:
   Ordered Collection: Lists are ordered collections of items. This means the position of each element within the list is fixed.Accessed by Index: You access elements in a list using their numerical index (starting from 0).
     For example, to access the first item in a list named my_list, you use my_list[0].
- Dictionaries:
   Unordered Collection: Dictionaries store data in key-value pairs.
   Accessed by Keys: You access values in a dictionary using their associated keys.
For example, if a dictionary named my_dict has a key "name" with the value "Alice", you access the value using my_dict["name"].
In Summary:
 * Lists: Retrieve data based on its position (index).
 * Dictionaries: Retrieve data based on a unique key associated with the value.

#Practical Questions

In [ ]:
#1.Write a code to create a string with your name and print it
name="biju deka"
print(name)

biju deka

In [ ]:
#2.Write a code to find the length of the string "Hello World"
word = "hellow world"
len(word)

12

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
string1="python programming"
string1=string1[:3]
print(string1)

pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
upper_case = "hello"
upper_case = upper_case.upper()
print(upper_case)

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = " i like apple "
string = string.replace("apple","orange")
print(string)

 i like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
list1 = list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1,2,3,4,5]
list.pop(2)
print(list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a','b','c','d']
print(list[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
reversed = list[::-1]
print(reversed)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 10, 20, 30 and print it.?
tuple1 = (10,20,30)
print(tuple1)

(10, 20, 30)

In [ ]:
#12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').?

tuple = ('apple','banana','cherry')
print(tuple[0])

apple

In [ ]:
#13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).?

tuple1 = (1,2,3,2,4,2)
count=tuple1.count(2)
print(count)

3

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple=('dog','cat','rabbit')
index_count=tuple.index('cat')
print(index_count)

1

In [ ]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple','orange','banana')
if 'banana' in tuple:
    print('banana in tuple')
else:
    print('banana is not in tuple')

banana in tuple

In [ ]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [ ]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple1 = (10,20,30)
print(tuple1)

(10, 20, 30)

In [ ]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple','banana','cherry')
print(tuple[0])

apple

In [ ]:
#20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple1 = (1,2,3,2,4,2)
count=tuple1.count(2)
print(count)

3

In [ ]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
index_count=tuple.index('cat')
print(index_count)

1

In [ ]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple','orange','banana')
if 'banana' in tuple:
    print('banana in tuple')
else:
    print('banana is not in tuple')

banana in tuple

In [ ]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
#24 Write a code to add the element 6 to the set {1, 2, 3, 4}
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}